/* reusable classes */
.circle {
    border-radius: 100%;
}
.white {
    background-color: white;
}

/* index  */
body {
    background-color: #f9f9f9;
}

/* menu styles */
.menu {
    padding: 20px 20px 0px 20px;
}

.sub-menu {
    margin: 0 10%  0 10% ;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search form {
    display: flex;
    align-items: center;
}

.search form input {
    height: 20px;
}
.search form img {
    margin-left: 5px;
    width: 20px;
    height: 20px;
}


.icons a + a {
    margin-left: 10px;
}

img.little{
    width: 25px;
    height: 25px;
}

.logo img {
    width: 120px;
    height: 30px;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 40rem;

}
/* stories  */

.stories {    
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories img {
    width: 100px;
    height:100px;
}
.stories a + a {
    margin-left: 15px;
}


/* cards */
.cards {
    margin-top: 25px;
}
.card {
    margin-bottom: 50px;
}
.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-top .card-top1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-top .card-top1 img {
    margin-left: 10px;
    margin-right: 10px;
}

.card-top a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.card .img-post img {
    height: 100%;
    width: 40rem;
}


.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-bottom .post-icons {
    margin-left: 10px;
}

.card-bottom img {
    margin-right: 10px;
}

.comments .card-comment {
    display: flex;
    align-items: center;
}

.card-comment p {
    margin-left: 5px;
}
.card-comment a {
    margin-left: 5px;
    text-decoration: none;
}